/* I am not using this because of Bootstrap???
body, 
html {
    height: 100%;
    padding: 0;
    margin: 0;
border:0;
}

html,
html * {
    padding: 0;
    margin: 0;
}
*/

body {
    padding: 3vh 8vw 0 8vw;
    background-color: aliceblue !important;
}

.col-sm-2 {
    padding:1em;
}

.col-sm-10 {
}

.logo {
    max-width: 7em;
    min-width: 5em;
    border: 1em;
    margin: 0 auto;
}

.big-image-container {
    display: block;
    background-image: url(../img/sigma_delta.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 78vh;
    margin-bottom: 1em;
    padding:0;
}

.col-sm-3 {
    height: 40vh;
}

.image-container-1 {
    width: 100%;
    height: 85%;
    background-image: url(../img/sleeping_beauty.jpg);
    background-repeat: no-repeat;
    background-position: 25% 15%;
}

.image-container-2 {
    width: 100%;
    height: 85%;
    background-image: url(../img/apple_funderwear.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-container-3 {
    width: 100%;
    height: 85%;
    background-image: url(../img/social-media.jpg);
    background-repeat: no-repeat;
}

.image-container-4 {
    width: 100%;
    height: 85%;
    background-image: url(../img/my-social-media.jpg);
    background-repeat: no-repeat;
    background-position: 55% 30%;
}

div[class^="image-container-"] {
    -moz-transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
}

div[class^="image-container-"]:hover {
    background-size: 180%;
}

.txt-container {
    height:15%;
}

.svg-container {
    width:8em;
    height:8em;
    opacity: 0.3;
    align-self: center;
}